name: nix-check

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  flake-check:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Enable Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run flake check
        run: make check
